[submodule "ArcticAnalytics"]
	path = ArcticAnalytics
	url = https://github.com/ProjectBorealis/ArcticAnalytics.git
	branch = master
[submodule "DiscordGameSDK"]
	path = DiscordGameSDK
	url = https://github.com/ProjectBorealis/DiscordGameSDK.git
	branch = master
[submodule "SplashSettings"]
	path = SplashSettings
	url = https://github.com/ProjectBorealis/SplashSettings.git
	branch = main
[submodule "IAUS"]
	path = IAUS
	url = https://github.com/ProjectBorealis/IAUS.git
	branch = ue5
[submodule "FillDDCForPIE"]
	path = FillDDCForPIE
	url = https://github.com/ProjectBorealis/FillDDCForPIE.git
	branch = master
[submodule "UEGitPlugin"]
	path = UEGitPlugin
	url = https://github.com/ProjectBorealis/UEGitPlugin.git
	branch = dev
[submodule "StevesUEHelpers"]
	path = StevesUEHelpers
	url = https://github.com/sinbad/StevesUEHelpers
[submodule "BruceBulkImporter"]
	path = BruceBulkImporter
	url = https://github.com/Lost-Cosmonauts/BruceBulkImporter.git
[submodule "Cinemos"]
	path = Cinemos
	url = https://github.com/Lost-Cosmonauts/Cinemos.git
[submodule "LyraPlugins"]
	path = LyraPlugins
	url = https://gitlab.com/lyra-fundament/lyra-plugins
[submodule "GameFeatures/ShooterCore"]
	path = GameFeatures/ShooterCore
	url = https://gitlab.com/lyra-fundament/shootercore
[submodule "GameFeatures/ShooterExplorer"]
	path = GameFeatures/ShooterExplorer
	url = https://gitlab.com/lyra-fundament/shooterexplorer
[submodule "GameFeatures/ShooterMaps"]
	path = GameFeatures/ShooterMaps
	url = https://gitlab.com/lyra-fundament/shootermaps
[submodule "GameFeatures/ShooterTests"]
	path = GameFeatures/ShooterTests
	url = https://gitlab.com/lyra-fundament/shootertests
[submodule "GameFeatures/TopDownArena"]
	path = GameFeatures/TopDownArena
	url = https://gitlab.com/lyra-fundament/topdownarena
[submodule "VisualStudioTools"]
	path = VisualStudioTools
	url = https://github.com/ProjectBorealis/vc-ue-extensions.git
[submodule "AutoSizeComments"]
	path = AutoSizeComments
	url = https://github.com/AutoSizeComments/AutoSizeComments
[submodule "Hermes"]
	path = Hermes
	url = https://github.com/xalagor/Hermes.git
[submodule "GameFeatures/Haderoth"]
	path = GameFeatures/Haderoth
	url = https://gitlab.com/Haderoth/haderoth.git
[submodule "UEElementusModules"]
	path = UEElementusModules
	url = https://github.com/xalagor/UEElementusModules.git
[submodule "UEScripts"]
	path = UEScripts
	url = https://github.com/xalagor/UEScripts.git
[submodule "GameFeatures/Alicmore"]
	path = GameFeatures/Alicmore
	url = https://gitlab.com/xalagor/Alicmore
[submodule "GameFeatures/Vandal"]
	path = GameFeatures/Vandal
	url = https://gitlab.com/skillbox-xalagor/vandal.git
[submodule "GameFeatures/Siberian"]
	path = GameFeatures/Siberian
	url = https://gitlab.com/xalagor/siberian
[submodule "GameFeatures/Vex"]
	path = GameFeatures/Vex
	url = https://github.com/xalagor/Vex
[submodule "GameFeatures/Mooth"]
	path = GameFeatures/Mooth
	url = https://gitlab.com/xalagor/mooth
